* {
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

body {
    height : 90vh;
    background-color: hotpink;
    display : flex;
    align-items: center;
    justify-content: center;
}

.container {
    width : 350px;
    background-color: aliceblue;
    padding : 150px 30px 90px;
    box-shadow: 0 20px 30px 80px solid pink;
}

.Termometer-Suhu{
    font-size: 50px;
    color: hotpink;
    align-items: center;
    justify-content: center;
}

.fa-solid fa-temperature-full {
    --fa-display: block;
    text-align: center;
  }

.input-section {
    display : flex;
    flex-direction: column;
}

.input-field {
    outline : none;
    border-radius: 8px;
    border : solid hotpink;
    padding : 8px 8px;
}

.input-field:focus {
    border : solid rebeccapurple;
}

.my-button {
    background-color: fuchsia;
    color : white;
    border-radius: 8px;
    border : none;
    padding: 8px 16px;
    cursor : pointer;
}

.my-button:hover{
    background-color: pink;
    transform: translateY();
}
